Source: vulkan-sdk
Section: libdevel
Priority: optional
Maintainer: John Zupin <johnz@lunarg.com>
Homepage: https://khronos.com/
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8

Package: vulkan-sdk
Replaces: lunarg-vulkan-sdk  (<= 1.1.101.0~rc2-1lunarg16.04.1.1)
Breaks: lunarg-vulkan-sdk  (<= 1.1.101.0~rc2-1lunarg16.04.1.1)
Architecture: all
Depends: vulkan-headers (>= 1.2.196.0~rc1),
 libvulkan-dev (>= 1.2.196.0~rc1),
 vulkan-validationlayers (>= 1.2.196.0~rc1),
 vulkan-validationlayers-dev (>= 1.2.196.0~rc1),
 vulkan-tools (>= 1.2.196.0~rc1),
 lunarg-via (>= 1.2.196.0~rc1),
 lunarg-vkconfig (>= 1.2.196.0~rc1),
 lunarg-vulkan-layers (>= 1.2.196.0~rc1),
 spirv-headers (>= 1.5.4+130~rc1),
 spirv-tools (>= 2021.3+23~rc1),
 spirv-cross (>= 2021.01.15+200~rc1),
 spirv-cross-dev (>= 2021.01.15+200~rc1),
 glslang-tools (>= 11.6.0+1~rc1),
 glslang-dev (>= 11.6.0+1~rc1),
 shaderc (>= 2021.2~rc1),
 lunarg-gfxreconstruct (>= 0.9.8+21~rc1),
 dxc (>= 1.4.0.2274-833~rc1),
 spirv-reflect (>= 1.0.0+148~rc1),
 vulkan-extensionlayer (>= 1.2.196.0~rc1)
Description: Tools and runtime for Vulkan development.The Vulkan
 SDK provides the development and runtime components
 required to build, run, and debug Vulkan applications. This SDK is
 based on the Khronos Vulkan API header, whose version is reflected
 in the Vulkan SDK version number (for example, SDK version 1.0.24.0
 indicates that the SDK uses Vulkan header revision 1.0.24). The SDK
 also includes certain Vulkan extensions for window system 
 integration and debug extensions.

Package: vulkan-sdk-dbgsym
Replaces: lunarg-vulkan-sdk (<= 1.1.101.0~rc2-1lunarg16.04.1.1)
Breaks: lunarg-vulkan-sdk (<= 1.1.101.0~rc2-1lunarg16.04.1.1)
Architecture: all
Depends: libvulkan1-dbgsym (>= 1.2.196.0~rc1),
 vulkan-validationlayers-dbgsym (>= 1.2.196.1~rc1),
 vulkan-tools-dbgsym (>= 1.2.196.0~rc1),
 lunarg-via-dbgsym (>= 1.2.196.0~rc1),
 lunarg-vkconfig-dbgsym (>= 1.2.196.0~rc1),
 lunarg-vulkan-layers-dbgsym (>= 1.2.196.0~rc1),
 spirv-tools-dbgsym (>= 2021.3+23~rc1),
 spirv-cross-dbgsym (>= 2021.01.15+200~rc1),
 glslang-tools-dbgsym (>= 11.6.0+1~rc1),
 shaderc-dbgsym (>= 2021.2~rc1),
 lunarg-gfxreconstruct-dbgsym (>= 0.9.8+21~rc1),
 dxc-dbgsym (>= 1.4.0.2274-833~rc1),
 spirv-reflect-dbgsym (>= 1.0.0+148~rc1),
 vulkan-extensionlayer-dbgsym (>= 1.2.196.0~rc1)
Description: Debugging symbol packages for the Vulkan SDK components
